<!DOCTYPE html>
<html lang="en">
<head>
    <script src="./../../public/javascripts/jquery-3.2.1.js"></script>
    <script src="./../../public/javascripts/bootstrap.js/"></script>
    <link rel="stylesheet" href="./../../public/stylesheets/bootstrap.css">
    <link rel='stylesheet' href='./../../public/stylesheets/profile.css'/>
    <title></title>
</head>
<body>
<div class="container vertical-center">
        <div class="col-sm-2 col-xs-12 z">
            <img src="http://www.gravatar.com/avatar/f6112e781842d6a2b4636b35451401ff?s=125" class="img-polaroid"/>
        </div>

        <div class="col-sm-6 col-xs-12 col-sm-offset-1 z">
            Listed Cats
        </div>

        <div class="col-sm-2 col-xs-12 col-sm-offset-1 z c">
            <div>
                <a href="#" class="btn btn-primary btn-block">Edit Profile</a>
            </div>
            <div>
                <a href="#" class="btn btn-primary btn-block">Go Shopping</a>
            </div>
            <div>
                <a href="#" class="btn btn-primary btn-block">Add Cat</a>
            </div>
            <div>
                <a href="#" class="btn btn-primary btn-block">Logout</a>
            </div>
        </div>
</div>
</body>
</html>